@font-face {
    font-family: Neutra DBold;
    src: url(../fonts/neutra/Neutra2Display-Bold.otf);
}

@font-face {
    font-family: Neutra DLight;
    src: url(../fonts/neutra/Neutra2Display-Light.otf);
}

@font-face {
    font-family: Neutra DMedium;
    src: url(../fonts/neutra/Neutra2Display-Medium.otf);
}

@font-face {
    font-family: Neutra DThin;
    src: url(../fonts/neutra/Neutra2Display-Thin.otf);
}

@font-face {
    font-family: Neutra DTitling;
    src: url(../fonts/neutra/Neutra2Display-Titling.otf);
}

@font-face {
    font-family: Neutra TBold;
    src: url(../fonts/neutra/Neutra2Text-Bold.otf);
}

@font-face {
    font-family: Neutra TBoldItalic;
    src: url(../fonts/neutra/Neutra2Text-BoldItalic.otf);
}

@font-face {
    font-family: Neutra TBook;
    src: url(../fonts/neutra/Neutra2Text-Book.otf);
}

@font-face {
    font-family: Neutra TBookItalic;
    src: url(../fonts/neutra/Neutra2Text-BookItalic.otf);
}

@font-face {
    font-family: Neutra TDemi;
    src: url(../fonts/neutra/Neutra2Text-Demi.otf);
}

@font-face {
    font-family: Neutra TDemiItalic;
    src: url(../fonts/neutra/Neutra2Text-DemiItalic.otf);
}

@font-face {
    font-family: Neutra TLight;
    src: url(../fonts/neutra/Neutra2Text-Light.otf);
}

@font-face {
    font-family: Neutra TLightItalic;
    src: url(../fonts/neutra/Neutra2Text-LightItalic.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Fira Sans Condensed', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* font-family: 'Archivo Narrow', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Overpass', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

/* font-family: 'Hind Siliguri', sans-serif; */

body {
    padding-bottom: 0 !important;
}

.nav-item>a {
    font-family: Neutra TBook !important;
    font-size: 1.15em !important;
}

.nav-item>a:hover {
    color: rgb(237, 187, 40) !important;
}

.carousel-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 1;

}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.text-body {
    color: white !important;
}

.text-body:first-child {
    font-family: Neutra DTitling !important;
}

.text-body:last-child {
    font-family: 'Hind Siliguri', sans-serif;
}

#sobre-nos {
    font-family: Neutra TBold;
    font-size: 2em;
    text-transform: uppercase;
    color: black;
    text-align: center !important;
}

.div-emp {
    background-color: yellow;
}
#a-empresa {
    font-family: Neutra TBold;
    font-size: 2em;
    text-transform: uppercase;
    color: black;
}

.text-empresa > p {
    line-height: 30px;
    text-align: justify !important;
}


.cards {
    background-color: rgb(237, 187, 40) !important;
    color: black !important;
}

.cards > h2 {
    font-family: Neutra DMedium;
}

.cards > p {
    font-family: 'Hind Siliguri', sans-serif;
    text-align: left;
}

.text-2 {
    font-family: Neutra TBold;
    background-color: rgb(39, 67, 148) !important;
    color: white !important;
}
.text-3 {
    font-family: Neutra TBold; 
    color: black !important;
}

.text-3-p {
    color: black(255, 0, 0) !important;
}
.img-t-3 {
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    filter:  invert(17%) sepia(1%) saturate(1061%) hue-rotate(316deg) brightness(100%) contrast(88%);
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bot {
    position: relative;
}

.btn-bot>a {
    text-decoration: none;
    color: white;
}

.nav-bot>a {
    font-family: Neutra TBook !important;
    font-size: 1.15em !important;
}

.nav-bot>a:hover {
    color: rgb(39, 67, 148) !important;
}

footer h5 {
    font-family: Neutra TDemi;
}

footer p {
    font-family: Neutra TBook;
}

.float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 70px;
    right: 25px;
    background-color: rgb(39, 67, 148);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px rgba(153, 153, 153, 0.692);
    
}

.float:hover {
    background-color: rgb(59, 80, 145);
}

.my-float {
    margin-top: 22px;
    position: relative;
}

.my-float>img {
    margin: auto;
    transform: translate(0%,50%);
}


@media (max-width: 500px) {
    #sobre-nos {
        width: 15rem;
    }
  }

@media (max-width:500px) {
    #to-up-btn {
        display: none;
    }
}



@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
